.contenedor{
  width: 650px;
  margin: 0 auto;
  /* display: inherit; */
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.edit.icon {
  color: #000;
  /* position: absolute; */
  margin-left: 4px;
  margin-top: 7px;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.edit.icon:before {
  content: '';
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

/*****************************/
.keyboard-solid.icon {
  color: #222831;
  /* position: absolute; */
  margin-left: 1px;
  margin-top: 4px;
  width: 17px;
  height: 11px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.keyboard-solid.icon:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 3px;
  width: 1px;
  height: 1px;
  border: 1px solid transparent;
  color: white;
  box-shadow: -2px 0 0 -1px currentColor,  2px 0 0 -1px currentColor,  0 -2px 0 -1px currentColor,  0 2px 0 -1px currentColor,  -6px 0 0 -1px currentColor,  6px 0 0 -1px currentColor,  -4px -2px 0 -1px currentColor,  -4px 2px 0 -1px currentColor,  4px -2px 0 -1px currentColor,  4px 2px 0 -1px currentColor;
}

.keyboard-solid.icon:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 4px;
  width: 9px;
  height: 1px;
  color: white;
  background-color: currentColor;
}

/*******************************/
.check.icon {
  color: #000;
  /* position: absolute; */
  margin-left: 3px;
  margin-top: 4px;
  width: 14px;
  height: 8px;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/********************/
.remove.icon {
  color: #ff1e56;
  /* position: absolute; */
  margin-left: 3px;
  margin-top: 10px;
  font-weight: 900;
}

.remove.icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.remove.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/***********************************************/
